<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="/images/ArmsIcon.png">
    <script src="https://code.jquery.com/jquery-3.6.1.js"></script>
    <title>Spring Boot | Add</title>
</head>
<body>
    <p>Sum is : <span th:text="${sum}"></span></p>
</body>
    <style>

        body{
            background-image: url('images/background.jpg');
            background-size: cover;
            background-repeat: no-repeat;
        }
        p{
            position:absolute;
            top:20%;
            left:40%;
            font-size:30px;
        }
    </style>
</html>