<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link rel="shortcut icon" href="/images/ArmsIcon.png">
  <script src="https://code.jquery.com/jquery-3.6.1.js"></script>
  <title>ARMSeller | Error</title>
</head>
<body>
<div id="headMsg">Please check your request.
  Perhaps the resource at this location is moved, or it doesn't exist.
</div>
</body>
<style>
        body{
            background-image: url('images/background.jpg');
            background-size: cover;
            background-repeat: no-repeat;
        }
        #headMsg{
            position:absolute;
            top:30%;
            left:30%;
        }
    </style>
</html>